.building {
  fill: #eee8d5;
  stroke: none;
  stroke-width: 0;
}
.building.hovered {
  stroke: #93a1a1;
  stroke-width: 0.25%;
}

.highway.street {
  fill: none;
  stroke: grey;
  stroke-width: 0.2%;
}
.highway.street.hovered {
  stroke-width: 0.4%;
}
.highway.way {
  fill: none;
  stroke: #b58900;
  stroke-width: 0.1%;
}
.highway.way.hovered {
  stroke-width: 0.3%;
}
.highway.path {
  fill: none;
  stroke: #b58900;
  stroke-width: 0.05%;
}
.highway.path.hovered {
  stroke-width: 0.25%;
}

.node {
  fill: black;
  stroke-width: 0%;
  width: 0.25%;
  height: 0.25%;
}
.node.hovered {
  stroke-width: 0.25%;
}
.node.busstop {
  fill: #dc322f;
}
.node.shop {
  fill: #6c71c4;
}
.node.leisure {
  fill: #859900;
}
.node.power {
  fill: #839496;
}
.node.recycling {
  fill: #859900;
}
.node.restaurant {
  fill: #268bd2;
}

.ui.background {
  stroke-width: 0px;
  background-color: #fdf6e3;
}

.ui.overlay {
  fill: #073642;
  fill-opacity: 0.75;
}
.ui.overlay.control {
  fill: #002b36;
  fill-opacity: 0.8;
}
.ui.overlay.display {
  fill: #fdf6e3;
  fill-opacity: 1;
  font-size: 11;
  font-family: sans-serif;
}
.ui.overlay.control.hovered {
  fill-opacity: 0.9;
}
